# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3

# Static files
staticfiles/

# Local settings
.env
